.dobra1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

.title{
    font-size: 110px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 50px 0px 0px;
    width: 600px;
}

.title span{
    background: linear-gradient(90deg, #00b2a9, #006298);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img1{
    width: 500px;
    height: auto;
    border-radius: 18px;
}