.btn{
    display: flex;
    justify-content: space-around;
}

.inscricao{
    width: 550px;
    height: 315px;
    background-image: url(./imagens/download.jpg);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 25px;
    border-radius: 18px;
    transition: background-size 0.3s ease-in-out;
    justify-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.inscricao:hover{
    background-size: 130%;
    cursor: pointer;
}

.btntitle {
    font-size: 80px;
    font-weight: bold;
    color: aliceblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
}
