header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-top: 1px;
    border-bottom: transparent solid 3px;
}

header::after {
    content: '';
    position: absolute;
    bottom: 15px; /* Alinha o gradiente com a borda inferior */
    left: 0;
    width: 100%;
    height: 3px; /* Altura da borda */
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 178, 169, 1), rgba(255, 255, 255, 0)); /* Gradiente simétrico */
    pointer-events: none; /* Garante que o pseudo-elemento não interfira em cliques */
}

.header_image{
    width: 200px;
    height: auto;
}

.butao{
    font-size: 30px;
    margin-right: 15px;
    font-weight: bold;
    border: none;
    background: none;
}

.butao span{
    background: linear-gradient(90deg, #00b2a9, #006298); /* Gradiente horizontal */
    -webkit-background-clip: text; /* Define o gradiente como clip de texto */
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para mostrar o gradiente */
}

.butao:hover{
    cursor: pointer;
    scale: 1.1;
    transition: all 0.1s ease-in-out;
}
h2{
    font-size: 40px;
    font-weight: bold;
    margin-left: 15px;
}

h2 span{
    background: linear-gradient(90deg, #00b2a9, #006298); /* Gradiente horizontal */
    -webkit-background-clip: text; /* Define o gradiente como clip de texto */
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para mostrar o gradiente */
}